<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="SauceDemo Test Suite" verbose="1">
    <test name="SauceDemo Automation Tests">
        <classes>
            <class name="com.saucedemo.tests.LoginTests"/>
            <class name="com.saucedemo.tests.ShoppingCartTests"/>
        </classes>
    </test>
</suite>
